*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B4EBE6;
}

.container {
    background-color: #fff;
    height: 550px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 25px;
}

.container  .h2 h2 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px
    
}

.container .p p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }


  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (min-width: 375px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #B4EBE6;
    }
    
    .container {
        background-color: #fff;
        height: 500px;
        width: 320px;
        border-radius: 12px;
        text-align: center;
    }
    
    img {
        width: 100%;
        max-width: 280px;
        height: 250px;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    .container .h21 {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 30px;
    }
    
    .container .p1 {
        margin: 30px;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
      }
    
    
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
  }